{%  extends "dependences/dependence_base.html" %}
{% block page_title %}Listado{% endblock%}


<!--===============================================================================================-->
	{% load static %}
	{% load staticfiles %}

	{% block other_styles %}

	

	<link rel="icon" type="image/png" href="{% static 'tabla/images/icons/favicon.ico'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tabla/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tabla/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tabla/vendor/animate/animate.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tabla/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tabla/vendor/perfect-scrollbar/perfect-scrollbar.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tabla/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'tabla/css/main.css'%}">
<!--===============================================================================================-->
{% endblock%}

{% block content%}
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					{% if dependences %}
					<table>
						<thead>
							<tr class="table100-head">

								<th scope="row" class="column2">Id</th>
					            <th scope="col" class="column1">Codigo</th>
					            <th scope="col"class="column1">Iniciales</th>
					            <th scope="col" class="column1">Nombre</th>
					            <th scope="col" class="column1">Gestion</th>
							</tr>
						</thead>
						<tbody>
							{% for dependence in dependences %}
							<tr>
					    	    <td scope="row">{{ dependence.id }}</td>
					    	    <td>{{ dependence.code }}</td>
					    	    <td>{{ dependence.initials }}</td>
					    	    <td>{{ dependence.name }}</td>
					    	    <td><a class="btn btn-primary" href="{% url 'dependences:edit' id_dependence=dependence.id %}">Editar</a>
					    	    <a class="btn btn-danger" href="{% url 'dependences:delete' id_dependence=dependence.id %}">Eliminar</a></td>
					        </tr>
        					{% endfor %}


						</tbody>
					</table>
					{% else %}
				    	<h1>No hay dependencias disponibles</h1>
				    {% endif %}
				</div>
				<br>
				<div class="row justify-content-around">
						<div class="col-4">
            				<div class="card card-body mb-2">
		            			<form method='POST' action='{% url 'dependences:search' %}'>
									

									<p>Ingrese la palabra a buscar: 
										{% csrf_token %} 	
										<input name='key_word' type='text'>
									</p>
									<input type='submit' value='Buscar'> 					
								</form>
            				</div>
        				</div>
        				<div class="col-4" class=" contain_form">
            				<div class="card card-body mb-2">
		            			<button id="btnNuevo" >	Nuevo </button>



					            	<form id= "cosota" method='POST'> 
					            		{% csrf_token %} 	
									
										<label for="{{form.code.name}}">codigo</label>
                   					 	<!--<input id="id_code" name="code" type="text">-->
                   					 	{{Dependence.code}}

										<label for="{{dependence.name}}">nombres</label> 	
										<input id="id_name" name="name" type="text">
										{{ form.name}}

										<label for="{{dependence.initials.name}}">iniciales {{dependence.initials.label}}</label> 	
										<input id="id_initials" name="initials" type="text">
										{{dependence.initials}} 	

									
										<label for="{{dependence.name.name}}">{{dependence.name.label}}</label> 	

										

								

									<button class="btn btn-primary"  type="submit" href="{% url 'dependences:list' %}">Enviar</button>

								</form> 
					            

            				</div>
        				</div>
						
					</div>
 
				
				
			</div>
		</div>
	</div>

	
	


	<script>

			$( document ).ready(function() {

				$("#cosota").hide()
			    $("#btnNuevo").click(function(){ 


				
				$("#cosota").fadeIn()

				;
				})

			    console.log( "ready!" );
			});
			

	</script>

	




	

<!--===============================================================================================-->
	<script src="{% static 'tabla/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'tabla/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'tabla/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'tabla/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->


	<script src="{% static 'tabla/js/main.js'%}"></script>
	


	{% endblock %}
