{%  extends "registration/base_registry.html" %}

{% block page_tittle %}
{% endblock %}

{% load staticfiles %}
{% block content%}
	<div class="wrapper paso-1">
		<!-- -->
		<!-- Logo -->
		<header class="header"> 
			<div class="contain container">
				<h1> <img src="{% static 'img/logo.png' %}" alt=""></h1>
			</div> 
		</header>
		<!-- Menu -->
		<br>
		<nav class="navar">
			<span class="item active"><span>1</span> <span>Account Setup</span></span>
			<span class="item "><span>2</span> <span>Personal Details</span></span>
			<span class="item "><span>3</span> <span>Employment Information</span></span>
			<span class="item "><span>4</span> <span>Finalize</span></span>
		</nav>
		<div class="contain content">
			<!-- Formulario -->		
			<form class="form" method="POST">
				{% csrf_token %} 
				<!-- Mensaje principal -->
				<header>
					<br><br>
					<h2>Account Setup</h2><!-- Título: configuración de la cuenta -->
					<!-- Párrafo -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vero autem vel blanditiis eveniet culpa! Omnis, voluptate. Maiores, soluta quae odio culpa veniam assumenda reiciendis dolorum architecto. Repudiandae, porro, sed!</p>
					<br><br>
				</header>
				<!-- Formulario -->
				<fieldset>
					<!-- Fila 1 -->
					<div class="main row">
						<div class="clearfix visible-xl-block col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<div class="columns_div file ">
								<input type="file"><!-- imagen -->
							</div>								
						</div>				
			
						<div class="columns_div col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<label>Name <span class="tooltip_ask">? </span>
							</label>
							<input type="text" name="name" id="">
							<label>Password <span class="tooltip_ask"> ?</span></label>
							<input type="password" name="password" id="">
							<label>E-mail <span class="tooltip_ask"> ?</span></label>
							<input type="email" name="email" id="">
							<label>Document Type <span class="tooltip_ask"> ?</span></label>
							<select id="" name="document_type">
								<option value="" >--Select--</option>
							</select>						
						</div>	

						<div class="columns_div col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<label>Last Name <span class="tooltip_ask"> ?</span></label>
							<input type="text" name="last_name" id="">						
							<label>Confirm Password <span class="tooltip_ask"> ?</span></label>
							<input type="password" name="verify_password" id="">

							<label>Birth Date <span class="tooltip_ask"> ?</span></label>
							<div class="birth_date">								
								<input type="text" placeholder="DD" class="small" >
								<input type="text" placeholder="MM" class="small">
								<input type="text" placeholder="YYYY" class="small">
							</div>		
							<label>Document Number <span class="tooltip_ask"> ?</span></label>
							<input type="text" name="document_number" id="">			
						</div>
					</div>				
					<!-- Fila 2 -->
					<div class="columns_div all col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<input type="checkbox">
						<span> By clicking Register, you agree on our <a>Terms and condition</a>.</span>
					</div>			
				</fieldset>
				
				<input type="submit" value="Next">				
			</form>
		</div>
	</div>
{% endblock%}

