<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>{% block page_tittle %}{% endblock%}</title>
	<!-- Responsive -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">	
	<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
	<!-- CSS LOGIN -->
	<link rel="stylesheet" type="text/css" 	href="{% static 'css/style_login.css' %}">
	{% block other_styles %}{% endblock%}
</head>

<body>	
	{% block content%}{% endblock %}
	<!-- JS  -->
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>